<% @rating_types = RatingType.all %>

<div class="slidecontainer">
  <p>
    <label>Text Language</label>
    <%= select("issue", "language", Language.all.collect {|p| [ p.value, p.id ] }, {:include_blank => true}, {:required => true}) %>
  </p>
</div>

<% if @issue.status.name == 'Closed' %>
  <div class="slidecontainer">
    <% @rating_types.each do |rt| %>
      <p>
        <% rating = CaRating.find_by(type_id: rt.id, issue_id: @issue.id) %>
        <label><%= rt.value %></label>
        <%= range_field_tag "issue[rating_#{rt.value}]", value = rating.try(:value), in: 1..10, step: 1, :oninput=> "rating_#{rt.value}.value = issue_rating_#{rt.value}.value" %>
        <%= content_tag( :output, "#{rating.try(:value)}", :id=>"rating_#{rt.value}") %>
      </p>
    <% end %>
  </div>
<% end %>
